.popup__button {
  height: 50px;
  background-color: black;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  margin-top: 18px;
  padding: 0;
  width: 100%;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__button {
    height: 46px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 17px;
  }
}
