.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_m.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -48px;
  right: -40px;
  padding: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close_s.svg);
    top: -45px;
    right: 5px;
  }
}
