.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close_m.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 192px;
  right: 457px;
  padding: 0;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-image: url(../../../images/close_s.svg);
    top: 303px;
    right: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .popup__close-button {
    top: 295px;
    right: 45px;
  }
}
