.profile__info {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(2, max-content);
    gap: 16px 18px;
    margin-top: 22px;
    justify-content: center;
    max-width: 530px;
    position: relative;
}

@media screen and (min-width: 1000px) {
    .profile__info {
        margin-top: 0;
        align-self: center;
    }
}