.card__trash {
    position: absolute;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    border: 0px;
    width: 18px;
    height: 19px;
    background-color: transparent;
    top: 8px;
    right: 10px;
    transition: opacity 0.3s ease;
}

.card__trash:hover {
    opacity: 0.5;
    cursor: pointer;
}